/* You can add global styles to this file, and also import other style files */
body {
  padding-bottom: 50px;
}
.main-container {
  margin-top: 20px;
}
.imagen-heroe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imagen-heroe img {
  width: inherit;
}
.imagen-heroe a {
  margin-top: 20px;
}
.logo-casa {
  width: 290px;
  height: 100px;
  margin: 0 auto;
}
.logo-casa img {
  height: 100%;
  display: flex;
  margin: 0 auto;
}

/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}